
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======


@layer base {
    html,* {
      font-family: 'Inter', sans-serif;   
       box-sizing: border-box;
       background-color: #141619
    }
  }
>>>>>>> 5456e55250098a51228adfa844eb707694ba50ab
