
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .primary-gradient {
        @apply rounded-sm bg-gradient-to-br from-purple-500 via-blue-500 to-yellow-300;
    }

.custom-gradient {
    border-radius: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

}

.mainBG {
    @apply bg-custom-bg;
}

.common-gradient {   
    background: linear-gradient(135deg, #665dcd 0%, #5fa4e6 44.76%, #d2ab67 100%);
}

.PartnersBG {
    @apply border-[#41557280] bg-gradient-to-b from-[#41557280] to-[#1B1B1E];
}

.mainBackground {
    @apply bg-custom-bg;
}

@layer base {
    html{
      font-family: 'Inter', sans-serif;
       box-sizing: border-box;
       background-color: #141619
    }
  }

@layer base{
    html {
        font-family: 'Inter', sans-serif;
        background-color: #141619;
        color: #e5e5ee;
    }
}

